<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<div class="container">
    <div class="header-wrapper">
        <span class="section-header pink">Contacto</span>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate delectus quis aspernatur</p>
    </div>
    <div class="wrapper">
        <div class="image-bg">
            <div class="card">
                <div class="contactos-list">
                    <ul>
                        <li><span class="material-icons">smartphone</span><span class="content">+5842429233474</span></li>
                        <li><span class="material-icons">email</span><span class="content">dramarialiecastro@gmail.com / asesoramientonutricionalmc@gmail.com</span></li>
                        <li><span class="material-icons">photo_camera</span><span class="content">@dramarialecastro</span></li>
                    </ul>
                </div>
            </div>
        </div>
        
    </div>
</div>
