<mat-toolbar>
    <mat-toolbar-row class="topnav">
        <span  class="plain-text"><a href="#">Servicios</a></span>
        <span  class="plain-text"><a href="#">Blog</a></span>
        <span  class="plain-text"><a href="#">Cita Personal</a></span>
        <span  class="plain-text"><a href="#">Sobre mi</a></span>
        <mat-chip-list >
            <mat-chip class="mat-chip-header btn-text mat-elevation-z3"><a href="#">Get Offer</a></mat-chip>
        </mat-chip-list>     
    </mat-toolbar-row>
</mat-toolbar>
