
mat-toolbar-row{
    margin: auto;
    width: 50%;
    margin-top: 20px;
}

mat-toolbar-row span{
    margin: auto;
}

.topnav mat-chip-list{
    margin: auto;
}

.mat-chip-header{
    background-color: #6667E7 !important;
}
