.container{
    width: 100%;
    background: transparent;
    font-family: "Montserrat";
    font-size: 0.5em;
    margin: 1em 0;
}

.container span{
    margin: 0 0.6em;
}

a{
    text-decoration: none;   
}

a:hover{
    cursor: pointer;
    color: #E32D91;
    transition: ease-in 0.3s;
    animation-name: hoverAnimation;
    text-underline-position: below;
}

.selected{
    border-bottom: solid #E32D91;
    border-width: 2px;
    border-color: hsl(327, 76%, 53%, 1);
    padding: 5px;
}

@keyframes hoverAnimation{
    0%{
        opacity: 0.1;
    }

    100%{
        opacity: 1;
    }
}

@media screen and (min-width:375px){
    div.container{
        font-size: 0.6em;
    }
}

@media screen and (min-width:500px){
    .container span{
        margin: 0 0.9em;
    }

}

@media screen and (min-width:700px){

    .container span{
        margin: 0 3em;
    }

}