<div class="container">
    <span><a (click)="goToLanding()" routerLink="landing" routerLinkActive="active">Home</a></span>
    <span><a (click)="goToEspecialidades()" routerLink="especialidades" routerLinkActive="active">Especialidades</a></span>
    <span><a (click)="goToConsulta()" routerLink="consulta" routerLinkActive="active">Consulta</a></span>
    <span><a (click)="goToBlog()" routerLink="blog" routerLinkActive="active">Blog</a></span>
    <span><a routerLink="contacto" routerLinkActive="active">Contacto</a></span>
</div>
