<div class="top-container">
    <div class="header">
        <div class="header-box">
            <span  class="pink title main-title">Dra. Mariale Castro</span>
        </div>
        <header></header>
    </div>
    <div class="image">
        <h1 class="text-box">
            <span class="main-header">En cada celula de tu cuerpo</span>
            <span class="sub-header">Reside el poder de tu bienestar</span>
        </h1>
    </div>
</div>
<landing-esp></landing-esp>
<contacto></contacto>

