span{
    font-family: "Hello" !important;
    margin: auto;
    text-align: center;
}

.header{
    text-align: center;
}

.container{
    background-image: url('../../assets/la-innovadora-terapia-con-celulas-madre-made-in-spain-que-ayudara-a-75-000-espanoles.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 1500px;
    height: 100%;
}

.header-bg{
    background: rgb(158,29,108);
    background: linear-gradient(0deg, rgba(158,29,108,0.5908045977011493) 0%,
     rgba(227,45,156,0.5195402298850575) 28%,
      rgba(214,219,244,0.8298850574712644) 67%,
       rgba(225,245,249,0.9218390804597701) 99%);
    padding-top: 5%;
}
