.top-container{
    height: 400px;
    max-height: 600px;
}

.header{
    text-align: center;
}

span{
    font-family: "Hello" ;
    font-size: 1.8em;
}

.image{
    position: relative;
    background: linear-gradient(to right,rgb(0, 0, 0,0.7),rgb(255, 255, 255,0.3)),url("../../assets/la-innovadora-terapia-con-celulas-madre-made-in-spain-que-ayudara-a-75-000-espanoles.jpg") center no-repeat;
    background-size: 35em;
    object-fit: cover;
    width: 100%;
    height: 59%;
    padding: 0;
    clip-path: polygon(0 25%,100% 0,100% 75%,0 100% );
}

.text-box{
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    overflow: auto;
    backface-visibility: hidden;
    overflow-x: hidden;

}

.quote{
    color: #ffffff;
    font-family: "Metrophobic";    
}

.main-header{
    display: block;
    font-size: 1em;
    color: #ffffff;
    font-family: "Metrophobic";
    font-weight: 700;
    animation: slideText 1.8s;
    transition: ease-in;
}

.sub-header{
    display: block;
    font-size: .6em;
    color: #ffffff;
    font-family: "Lekton";
    transition: ease-in;
    animation: slideSubHeader 2.6s;
}

@keyframes slideText{
    0%{
        opacity: 0.1;
        transform: translateX(-200px);
    }

    100%{
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes slideSubHeader{
    0%{
        opacity: 0;
        transform: translateX(-300px);
    }

    70%{
        transform: translateX(5px);
    }

    100%{
        opacity: 1;
        transform: translateX(0);
    }
}

@media screen and (min-width:321px){
    span{
        font-size: 2em;
    }
}

@media screen and (min-width:500px){
    span{
        font-size: 3em;
    }

    .image{
        height: 70%;
        background-size: 100vw;
    }

    .top-container{
        height: 60vh;
    }

    .main-header{
        font-family: "Metrophobic";
    }
}

@media screen and (min-width:700px){
    .text-box{
        top: 50%;
    }

    .main-header{
        font-size: 2em;
        letter-spacing: 5px;
    }

    .sub-header{
        letter-spacing: 2px;
    }

    span{
        font-size: 4em;
    }

    .top-container{
        height: 80vh;
    }
}