<div class="presentation">
    <div>
        <h1 class="ultra granaina">Nombre Apellido</h1>
        <h3 class="big kollektif">G E N E T I C S  &  A E S T H E T I C S</h3>
    </div>
    <mat-grid-list  cols="3" rowHeight="240px" class="personal-stuff">
        <div>
            <mat-grid-tile><img class="pfp" height="164px" src="assets/png/pfp.jpg"></mat-grid-tile>
            <mat-grid-tile class="text-tile">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce quis sapien semper, tristique magna non, rhoncus sapien.Curabitur vitae elit quis nisl commodo lacinia. Pellentesque congue augue eget orci volutpat ornare. 
                </p> 
            </mat-grid-tile>
        </div>
    </mat-grid-list>
    <mat-grid-list cols="3" rowHeight="32px" class="icons-list">
        <a href="#"><img height="32" class="media-icon" src="assets/png/fb.png"></a>
        <a href="#"><img height="32" class="media-icon" src="assets/png/twitter.png"></a>
        <a href="#"><img height="32" class="media-icon" src="assets/png/ig.png"></a>
        <a href="#"><img height="32" class="media-icon" src="assets/png/linkedin.png"></a>
    </mat-grid-list>
</div>
<!-- <img class="adn-svg" src="assets/svg/adn-svg.svg"> -->

