<div class="wrapper">
	<div class="especialidades-wrapper">
		<span class="section-header pink">Especialidades</span>
		<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Facere similique iure ipsa, praesentium nostrum,</p>		
	</div>
	<div class="container-block">
		<div class="card-wrapper" *ngFor="let card of getCards()">
			<span class="header card-title">{{card.title}}</span>
			<mat-card class="mat-elevation-z6">
				<img mat-card-image src="{{card.img}}" >
				<mat-card-content class="normal bold"><strong><p>{{card.content}}</p></strong></mat-card-content>
			</mat-card>
		</div>		
	</div>
</div>
