.wrapper{
    margin: auto;
}

.card-wrapper{
    margin-top: 2em;
    text-align:center;
}

mat-card{
    max-width: 80%;
    background-color: #ffffff;
    margin: auto;
    margin-top: 1em;
    border-radius: 0; 
}

img{
    object-fit: cover;
    height: 18em;
}
 
mat-card-content{
    line-height: 2em!important;
    font-family: "Metrophobic",sans-serif;
    color: rgb(253, 194, 227);
}

.especialidades-wrapper{
    text-align: center;
    margin-bottom:100px;
}

.card-title{
    font-family: "Lekton",serif !important;
    color: #E32D91;
    opacity: .7;
}

@media screen and (min-width:700px){
    .container-block{
        display: flex;
        justify-content: center;
    }

    .card-wrapper{
        margin: 0 1em;
    }

    mat-card{
        max-width: 20em;
    }

}
