@import '../node_modules/@angular/material/theming';
@include mat-core();

$my-primary: mat-palette($mat-deep-purple,A400);
$my-accent: mat-palette($mat-light-blue,100);
$my-warn: mat-palette($mat-grey,100);

$my-theme: mat-light-theme($my-primary,$my-accent,$my-warn);

@include angular-material-theme($my-theme);